/Account.class
/Account2.class
/Advertiser.class
/Advertiser2.class
/ClassDiagram1to1.class
/ClassDiagrams1toMany.class
/ClassDiagramsManyToMany.class
/ClassDiagramsQualified.class
/League.class
/Player.class
/Player2.class
/Tournament.class
